@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --lovesick-yellow: #f5cc4a;
  --lovesick-pink: #e88fc8;
  --lovesick-blue: #6556db;
  --lovesick-green: #1d615b;
}

#app {
  background-color: #fffff7;
  background-image: url('/wavy-background.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: black;
}

body {
  font-family: 'Sigmar', sans-serif;
}
